* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    min-height: 100vh;
    width: 100%;
}
.wrapper {
    display: grid;
    grid-template-columns:240px 1fr;
    grid-template-rows:200px 1fr;
    grid-template-areas:
    'sidebar header'
    'sidebar content';
}
#sidebar { 
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #F3F4F9;
    height: 100%;
    width: 240px;
}
.sidebar-logo {
    display: flex;
    align-items: center;
    margin: 41px 78px 60px 32px;
}
.sidebar-logo span {
    font-weight: 600;
    margin-left: 5px;
    color: #333333;
}
.sidebar-logo img {
    width: 40px;
    height: 40px;
}
.sidebar-menu li {
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
    font-weight: 600;
    margin-bottom: 40px;
}
.sidebar-menu li:hover, .icon:hover {
    cursor: pointer;
    fill: #34ABE0;
    color: #34ABE0;
    transition: 0.5s;
}
.sidebar-menu li:hover {
    border-left: 3px solid #34ABE0;
    transition: 0.2s;
}
.active {
    fill: #34ABE0;
    color: #34ABE0;
    border-left: 3px solid #34ABE0;
}
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: 32px;
}
.header {
    grid-area: header;
    width: 100%;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    padding: 40px 60px;
}
.header-form {
    position: relative;
}
.header-form__icon {
    position: absolute;
    top: 47px;
    left: 15px;
    width: 20px;
    height: 20px;
    fill: grey;
}
.header-form__input {
    width: 100%;
    margin: 31px 0 0 0;
    border-radius: 50px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    padding: 12px 44px;
    font-size: 18px;
    outline: none;
}
.main {
    grid-area: content;
}
.container {
    margin: 0 auto;
    padding: 40px 50px 100px 50px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.card {
    display: flex;
    justify-content: space-between;
    flex: 347px 0 1;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px rgb(168, 165, 165);
}
.card:first-child {
    border: 1px solid #DF212D;
}
.card-img {
    border-radius: 10px;
}
.card-info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
}
.card-title {
    font-weight: 700;
}
.card-description, .card-promo {
    color: #626262;
    font-weight: 600;
    font-size: 14px;
}
.card-sale{
    color: #DF212D;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
}
@media screen and (max-width:768px) {
    .wrapper {
        grid-template-columns:80px 1fr;
    grid-template-rows:200px 1fr;
        grid-template-areas:
        'sidebar header'
    'sidebar content';
    }
    .sidebar-menu__link, .sidebar-logo__title {
        display: none;
    }
    .container {
        margin: 0 auto;
        padding: 40px 20px 100px 20px;
    }
    .card {
        display: flex;
        justify-content: space-between;
        flex: 296px 0 1;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 3px 1px rgb(168, 165, 165);
    }
    .sidebar-btn {
        position: absolute;
        width: 45px;
        height: 60px;
        right: -40px;
        top: 20px;
        background-color: #F3F4F9;
        cursor: pointer;
        border-radius: 0% 150% 150% 0%;
    }
    .sidebar-logo img {
        width: 25px;
        height: 24px;
    }
    .sidebar-btn__lines,
    .sidebar-btn__lines::before,
    .sidebar-btn__lines::after {
        position: absolute;
        width: 25px;
        height: 2px;
        background-color: #000;
        transition: 0.5s;
    }
    .sidebar-btn__lines {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .sidebar-btn__lines::before {
        content: '';
        top: -10px;
    }
    .sidebar-btn__lines::after {
        content: '';
        top: 10px;
    }
    #sidebar { 
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        background-color: #F3F4F9;
        height: 100%;
        width: 80px;
        transition: 0.5s;
    }
    #sidebar.sidebar-active {
        transition: 0.5s;
        width: 240px;
    }
    .sidebar-active .sidebar-btn__lines {
        background-color: transparent;
    }
    .sidebar-active .sidebar-btn__lines::before {
        top: 0;
        transform: rotate(45deg);
        transition: 0.5s;
    }
    .sidebar-active .sidebar-btn__lines::after {
        top: 0;
        transform: rotate(-45deg);
        transition: 0.5s;
    }
    .header {
        grid-area: header;
        width: 100%;
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
        padding: 40px 30px;
    }
    .header-form__input {
        margin: 31px 0 0 0;
        border-radius: 50px;
        padding: 12px 40px;
        font-size: 14px;
    }
    h1 {
        text-align: right;
    }
    .header-form__icon {
        position: absolute;
        top: 43px;
        left: 15px;
        width: 20px;
        height: 20px;
        fill: grey;
    }
}
@media screen and (max-width: 320px) {
    .wrapper {
        grid-template-columns:240px 1fr;
        grid-template-rows:200px 1fr;
        grid-template-areas:
        'header header'
        'content content';
    }
    #sidebar { 
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        position: fixed;
        left: -192px;
        top: 0;
        background-color: #F3F4F9;
        height: 100%;
        width: 192px;
        transition: 0.5s;
    }
    #sidebar.sidebar-active {
        transition: 0.5s;
        left: 0;
    }
    .card-title {
        font-size: 12px;
    }
    .card-description, .card-promo {
        font-size: 12px;
    }
    .card-sale{
        font-size: 28px;
    }
    h1 {
        font-size: 24px;
    }
}